$spacing-base: 1.5rem;
$spacing-mid: 3rem;
$min-w: 22.5rem;
$max-w: 118.125rem;
$full-w: 100vw;

.Card {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media screen and (max-width: $min-w) {
    &__body {
      margin: $spacing-base 0 !important;
    }
  }

  &__body {
    max-width: 667px;
    margin: calc(
        $spacing-base +
          (
            ($full-w - $min-w) *
              (($spacing-mid - $spacing-base) / ($max-w - $min-w))
          )
      )
      0;
  }

  &__buttons {
    display: flex;
    gap: 12px;
    padding: 8px;

    button {
      padding: 16px 24px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      border-color: black;
      cursor: pointer;

      &:last-child {
        background-color: white;
        color: black;
      }
    }
  }
}
